@import "../../sass/abstracts/variables";

.add-company {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__form {
        width: 35rem;
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 100%;
        box-shadow: 0 5px 1rem $color-box-shadow-light;
    }

    &__button {
        margin-top: 2rem;
        width: 100%;
    }
}
