@import "../../sass/abstracts/variables";

.company-card {
    width: min(90vw, 100rem);
    // background-color: $color-primary-light;
    height: 25rem;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 0.4rem 1.2rem rgba($color-black, 0.2);
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2rem 0;
    transition: 0.2s all ease-in-out;

    &:hover {
        transform: scale(1.01);
    }

    &__thumbnail-container {
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: 20rem;
        background-color: $color-gray-light;
    }

    &__thumbnail {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        max-height: 100%;
        transform: translate(-50%, -50%);
        box-shadow: 0 1rem 4rem $color-box-shadow;
    }

    &__content {
        padding: 2rem 2rem;
        width: 80rem;
        box-sizing: border-box;
    }

    &__name {
        font-weight: normal;
    }

    &__location {
        font-size: 1.2rem;
        color: $color-gray-3;
    }

    &__contact-info {
        display: flex;
        margin-top: 1rem;
        gap: 5rem;
        color: $color-gray-2;
        font-size: 1.4rem;
    }

    &__email {
        i::before {
            transform: translateY(2px);
        }
    }

    &__summary {
        font-size: 1.3rem;
        margin-top: 1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 7rem;
    }

    &__space-between {
        display: flex;
        justify-content: space-between;
    }

    &__tags {
        margin-top: 1rem;
    }

    &__icon-buttons {
        display: flex;
        gap: 1rem;
    }

    &__icon-button {
        font-size: 1.4rem;
        padding: 8px;
    }
}
