@import "../../sass/abstracts/variables";

.generate-user-report-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__loading-text {
        font-size: $font-size-medium;
    }

    &__customize-report-form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__show-contacts {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}
