@import "../sass/abstracts/variables";

.authorize-user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-invalid;
    font-size: 2rem;
    height: 100vh;
}
