@import "../sass/abstracts/variables";

.btn {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 1.2rem 1.4rem;
    border-radius: $border-radius-medium;
    transition: all 0.2s;
    text-decoration: none;

    &:hover {
        background-color: $color-gray-light;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 4rem $color-box-shadow;

        &:hover {
            background-color: $color-primary-dark;
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-white;
        box-shadow: 0 1rem 4rem $color-box-shadow;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }

    &--danger {
        background-color: $color-invalid;
        color: $color-white;
        box-shadow: 0 1rem 4rem $color-box-shadow;

        &:hover {
            background-color: lighten($color-invalid, 15%);
        }
    }
}
