@import "../sass/abstracts/variables";

.form-input {
    &__input {
        margin-top: 0.5rem;
    }

    &__invalid-message {
        color: $color-invalid;
        font-size: 1.3rem;
    }

    margin-bottom: 1rem;
}
