@import "../sass/abstracts/variables";

.form-input {
    &__input {
        margin-top: 0.5rem;
    }

    &__invalid-message {
        color: $color-invalid;
        font-size: $font-size-small;
    }

    margin-bottom: 1rem;
}
