@import "../sass/abstracts/variables";
@import "../sass/base/animations";

.tags {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    &__tag {
        display: flex;
        display: block;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-light;
        padding: 4px 1rem;
        border-radius: 4rem;
        font-size: $font-size-small;

        animation: tagZoomInAnimation 0.3s ease-in-out;
    }
}
