@import "../sass/abstracts/mixins";
@import "../sass/abstracts/variables";

.nav {
    margin: 1rem 0;

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        overflow: auto;
        display: flex;
        justify-content: flex-start;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }

    &__left,
    &__right {
        flex: 1;
    }

    &__logo {
        text-decoration: none;
    }

    &__center {
        gap: 3rem;
        display: flex;
        justify-content: center;
        flex: 1;
    }

    &__link {
        text-decoration: none;
        color: $color-gray-2;
    }
}
