.section-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;

    .logo-animation {
        position: absolute;
        animation: logoAnimation 1.5s forwards;
    }

    .sign-in {
        animation: enlargeAnimation 1s 1.5s backwards;
        backface-visibility: hidden;
        width: 35rem;

        &__logo-link {
            text-decoration: none;
            cursor: pointer;
        }

        &__logo {
            margin-bottom: 2rem;
        }
    }
}
