@import "../sass/abstracts/mixins";

.nav {
    margin: 1rem 0;

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        overflow: auto;
    }

    &__logo {
        text-decoration: none;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__link {
        text-decoration: none;
    }
}
